:root {
  --board-max-width: 560px;
  --md3-title-large: 1.375rem;
  --md3-title-medium: 1rem;
  --md3-body-large: 1rem;
  --md3-body-medium: 0.875rem;
  --md3-label-medium: 0.75rem;

  --md-sys-color-shadow: 0, 0, 0; 

  --md-sys-elevation-0: none;
  --md-sys-elevation-1: 0px 1px 2px 0px rgba(var(--md-sys-color-shadow), 0.3), 
                        0px 1px 3px 1px rgba(var(--md-sys-color-shadow), 0.15);
  --md-sys-elevation-2: 0px 1px 2px 0px rgba(var(--md-sys-color-shadow), 0.3), 
                        0px 2px 6px 2px rgba(var(--md-sys-color-shadow), 0.15);
  --md-sys-elevation-3: 0px 1px 3px 0px rgba(var(--md-sys-color-shadow), 0.3), 
                        0px 4px 8px 3px rgba(var(--md-sys-color-shadow), 0.15);
  --md-sys-elevation-4: 0px 2px 3px 0px rgba(var(--md-sys-color-shadow), 0.3), 
                        0px 6px 10px 4px rgba(var(--md-sys-color-shadow), 0.15);
  --md-sys-elevation-5: 0px 4px 4px 0px rgba(var(--md-sys-color-shadow), 0.3), 
                        0px 8px 12px 6px rgba(var(--md-sys-color-shadow), 0.15);
}

@media (prefers-color-scheme: dark) {
  :root {
    --md-sys-color-shadow: 0, 0, 0; 
  }
}
